.side-bar{
    width:25%;
    height:100vh;
    float: left;
    background-color: rgb(180, 176, 171)
}
hr{
    background-color:#341236;
}
.message-content{
    width:75%;
    height:88vh;
    float: left;
    background-color: #341236;   
}
#logout{
    bottom: 0;
    width:25%;
    position: fixed;
  }
 .timeline{
    overflow-y: auto; 
    overflow-x: hidden;
    height: 90vh;
    display: flex;
    flex-direction: column-reverse;
}

 .timeline ul li {   
    list-style-type: none;
    word-wrap: break-word;
    position: relative;
    font-family: cursive;
    width: 0px;
    margin: 0 auto;
    padding-top: 50px;
    background: #fff;

  } 
   
   /* .timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
  }  */
    .timeline ul li div {
    position: relative;
    /* border-radius: 5%; */
    bottom: 0;
    border-radius: 5%;
    width: 500px;
    padding: 15px;
    border-style: solid;
    border-color: #341236;
    /* background: #ffffff; */
  }
   
  /* .timeline ul li div::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
    border-style: solid;
    border-color: #000000;
  }  */
