.side-bar{
    width:25%;
    height:85vh;
    float: left;
    background-color: #0e3744bd;
}
.message-content{
    width:75%;
    height:85vh;
    float: left;
    background-color: #769eaabd;    
    
}
.msg{
    height: 75vh;
    overflow: scroll;
}
#createService{
    float: bottom;
}