<app-header></app-header>
<div class="container">
  <div class="side-bar">
      <ul class="nav nav-pills nav-stacked">
          <li><input type="text"  class="form-control" placeholder="Enter new Channel name" [(ngModel)]="channelName"/>
            <button type="button" class="btn btn-primary" (click)="addChannel()">Click to create Channel</button></li>
             <li> <input  class="form-control" type="text" placeholder="Search channel" [(ngModel)]="channel">
            <button class="btn btn-default" (click)="searchChannel()"><i class="glyphicon glyphicon-search"></i></button>
            <button (click)="joinChannel()" class="btn btn-primary">Join {{foundChannel}}</button><br/></li>
        </ul>
        <button id="createService" type="button" (click)="addService()" class="btn btn-primary">Click to create serveice</button>
        
        <button (click)="Display()" class="btn btn-primary">Display</button>
        <ul *ngFor="let channel of channelArr">
          <li >{{channel}}</li>
        </ul>

   </div>


  <div class="message-content">
      <section class="timeline">
          <ul >
            <li *ngFor="let message of allMessages">
              <div>
                  {{message.body}}
              </div>
            </li>
             
            <!-- more list items here -->
          </ul>
        </section>
        <input type="text" class="form-control" placeholder="Enter message" [(ngModel)]="messages"/>
        <button (click)="sendMessage()" class="btn btn-primary">Send message</button>
        <button (click)="ngOnInit()" class="btn btn-primary">Show message</button>
</div>







  <app-footer></app-footer>




